%% Erlang compiler options
{erl_opts, [
  debug_info,
  warn_export_all
]}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, [{d,'EUNIT_TEST',true}]}.

%% What dependencies we have
{deps, [
  {gpb, "4.10.6"}
]}.

{pre_hooks,
  [
    {compile, "bin/maxwell_protocol_gen.sh"}
  ]
}.

{post_hooks,
  [
    {clean, "bin/maxwell_protocol_clean.sh"}
  ]
}.